#anu tr:nth-child(3n+1) {
    background: rgb(252, 91, 91);
}
#amo tr:nth-child(1) {
    background: rgb(59, 167, 255);
}
#amo tr:nth-child(2n) {
    background: rgb(107, 187, 253);
}

#anu{
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
}
#amo{
    position: absolute;
    top:0;
    right: 0;
    width: 50%;
}